/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* universal selector */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* html tag */
:root
{
    --tenne-twany: #d65108;
    --tenne-twany-dark: #b54507;
}

/* body style*/
body
{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* Navigation bar style */
#nav-bar
{
    background-color: #fff;
    padding: 0.5rem;
    font-size: 1.8rem;
}  
#nav-bar div
{
    display: inline-block;
}
.logo-name a 
{
    text-decoration: none;
    color: var(--tenne-twany);
    /* font-size: 2rem; */
    font-weight: 700;
}
.logo-name a:hover
{
    color: var(--tenne-twany-dark);
}
.favourite-meal
{
    float: right; 
}
.favourite-meal button
{
    border: none;
    background: transparent;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--tenne-twany);
}
.favourite-meal button:hover
{
    color: var(--tenne-twany-dark);
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: scroll; /*horizontal scroll*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* Position and style the close button (top right corner) */
.fav-meal-heading
{
    width: 100%;
    background-color: var(--tenne-twany);
    color: #fff;
}
.fav-meal-heading a
{
    color: white;
    text-decoration: none;
    margin: 1rem;
}
.fav-meal-heading .heading-txt
{
    float: left;
}
.fav-meal-heading .closebtn
{
    float: right;
}

/* In case meal is not present in favourite list */
.error-container
{
    margin-top: 0px;
    font-weight: 700;
    padding: 1rem;
    border-left: 2px solid var(--tenne-twany);
}

/* favourite food list */
#favourites-body
{
    margin: 2.5rem 0;
    display: block;
}
.fav-meal-item
{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 1rem;
}
.fav-meal-img img
{ 
    width: 100%;
    display: block;
}

.fav-meal-name-details
{
    width: 100%;
    padding: 1.5rem 0.5rem;
    text-align: center;
}
.fav-meal-name-details h3
{
    font-size: 1.4rem;
}
.fav-meal-name-details button
{
    display: inline-block;
}


/* Main Content */

/* Button Style */
.btn
{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.text
{
    opacity: 0.8;
}
.title
{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* main container */
.container
{
    min-height: 100vh;
}
.meal-wrapper
{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search
{
    margin: 1rem 0;
}
.meal-search-box
{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
/* input-box */
.search-control,
.search-btn
{
    width: 100%;
}

.search-control
{
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-family: inherit;
    outline: 0;
    border: 2px solid var(--tenne-twany);
    color: var(--tenne-twany);
    border-radius: 2rem;
}
.search-control::placeholder
{
    color: var(--tenne-twany);
}

/* Meal Result */
.meal-result
{
    margin-top: 4rem;
}
#meal
{
    margin: 2.4rem 0;
}
.meal-item
{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-img img
{ 
    width: 100%;
    display: block;
}

.meal-name
{
    padding: 1.5rem 0.5rem;
}
.meal-name h3
{
    font-size: 1.4rem;
}
.meal-name a
{
    display: inline-block;
}
.recipe-btn
{
    float: left;
    border: none;
    color: #fff;
    background:var(--tenne-twany);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.2s linear;
}
.recipe-btn:hover
{
    background: var(--tenne-twany-dark);
    cursor: pointer;
}
.like-btn
{
    float: right;
    background-color: #fff;
    color: #b9b5b5;
    border: none;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0.5rem;
    margin: 1rem auto;
    transition: all 0.5s linear;
}
.like-btn i:hover
{
    cursor: pointer;
    color: var(--tenne-twany);
}
.active-color
{
    color: var(--tenne-twany) !important; 
}

/* Meal Details */
.meal-details
{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-twany);
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    padding: 2rem 0;
    display: none;
}
.meal-details::-webkit-scrollbar
{
    width: 10%;
}
.meal-details::-webkit-scrollbar-thumb
{
    background: #fff;
    border-radius: 2rem;
}

/* javascipt Related code */
.showRecipe
{
    display: block;
}
#meal-details-content
{
    margin: 2rem;
}
#meal-details-content p:not(.recipe-category)
{
    padding: 1rem 0;
}
.recipe-close-btn
{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.8rem;
    background-color: #fff;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.recipe-close-btn:hover
{
    cursor: pointer;
    background-color: #dadada;
}
.recipe-title
{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category
{
    background:#fff;
    font-weight: 600;
    color: var(--tenne-twany);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-instruction
{
    padding: 1rem 0;
}
.recipe-meal-img img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.recipe-link
{
    margin: 1.4rem 0;
}
.recipe-link a
{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.2s linear;
}
.recipe-link a:hover
{
    opacity: 0.8;
}

/* Not Found Meal */
.notFound
{
    grid-template-columns: 1fr !important;
    color: var(--tenne-twany);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* Media Queries */
@media screen and (min-width:600px) {
    .meal-search-box
    {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) {
    #meal
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item
    {
        margin: 0;
    }
    .meal-details
    {
        width: 700px;
    }
}
@media screen and (min-width: 992px) {
    #meal
    {
        grid-template-columns: repeat(3, 1fr);
    }
    .meal-item
    {
        margin: 0;
    }
}